[Unit]
Description = USB Stick inserted by user 

[Mount]
What = /dev/sda1
Where = /data/user_storage
Type = vfat
Options = rw,relatime,data=ordered

[Install]
WantedBy = multi-user.target
